@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* margin: 3.2rem 3rem; */
    background: radial-gradient(
        203.68% 203.68% at 50% 171.35%,
        #a0c1f2 0%,
        #7dafea 27.04%,
        #0444b3 63.83%,
        #003796 76.2%,
        #002668 83.88%
    );
    overflow: hidden;
    background-repeat: no-repeat;
}
:root {
    --black: #383530;
    --gray: #9d9d9d;
    --lightgray: #e1e5e8;
    --white: #fbfbfb;
    --mainblue: #3171d3;
    --mainblue_dark: #22539f;
}
section {
    height: 75vh;
    margin-bottom: 20vh;
}
p {
    color: var(--black);
    font-size: 20px;
}

.button {
    background: linear-gradient(91.33deg, #00a3ff -2.7%, #18e6fe 110.59%);
    color: white;
    padding: 0.3rem;
    text-align: center;
}
.button_alt {
    border: 3px solid #00a3ff;
    color: #00a3ff;
    padding: 0.3rem;
    text-align: center;
    border-radius: 100px;
}
.card {
    background-color: var(--white);
    border-radius: 10px;
    padding: 1.3rem 2rem;
    /* margin-bottom: 1.5rem; */
}
.bg-mainblue {
    background-color: var(--mainblue_dark);
}
.bg-mainblue_dark {
    background-color: var(--mainblue_dark);
}
.bg-gray {
    background-color: var(--gray);
}
.bg-lightgray {
    background-color: var(--lightgray);
}
.icon-bg {
    background-color: var(--mainblue_dark);
    border-radius: 7px;
    padding: 0.6rem;
}
.bg-overlay {
    margin: -3.2rem -3rem;
    background-color: rgba(0, 0, 0, 0.3);
}
.text-mainblue_dark {
    color: var(--mainblue_dark);
}
.text-mainblue {
    color: var(--mainblue);
}
.text-black {
    color: var(--black);
}

/* Table Data Scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #e8e8e8;
    border-radius: 100px;
}
::-webkit-scrollbar-track {
    border-radius: 100px;
}
::-webkit-scrollbar-thumb {
    background-color: #7a7a7a;
    border-radius: 100px;
}

/* tcopied to clipboard */
#myTooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5) transparent transparent transparent;
}
